<div class="container col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h3>Editar Producto</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Tienda</label>
                            <input [(ngModel)]="modelProducto.id_tienda" name= "id_tienda" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Descripción</label>
                            <input [(ngModel)]="modelProducto.descripcion" name= "descripcion" type="text" class="form-control">
                        </div>
                        <button (click)="Actualizar(modelProducto)" class="btn btn-danger">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>